*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#0096FF;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size:60px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover{
    border: 1px solid #0096FF;
    background: #0096FF;
    transition: 1s;
}

/*    character */



.characters{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/CharactersBG.webp);
    background-position: center;
    background-size: cover;
    position: relative;


    
    margin: auto;
    text-align: center;
    padding-top: 100px;
  

}






p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.side_text{
    color: #fff;
}

.charasHead h1{

    color: #fff;
    font-size: 36px;
    font-weight: 600;


}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
    margin-left: 10%;
    margin-right: 10%;
}

h6{
    color: #777;
}


.col1{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/amber1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;

    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col1:hover{
    box-shadow: 0 0 20px 0px rgba(155, 116, 116, 0.8);
}
.col2{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/kaeya1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    
    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col2:hover{
    box-shadow: 0 0 20px 0px rgba(83, 124, 136, 0.8);
}
.col3{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/lisa.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;

    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col3:hover{
    box-shadow: 0 0 20px 0px rgba(115, 81, 126, 0.8);
}

.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}


.col4{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/fischl1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;

    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col4:hover{
    box-shadow: 0 0 20px 0px rgba(114, 75, 124, 0.8);
}
.col5{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/razor1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;

    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col5:hover{
    box-shadow: 0 0 20px 0px rgba(116, 71, 122, 0.8);
}
.col6{
    
    background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(9, 9, 9, 0.6)),url(images/bennet1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;

    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col6:hover{
    box-shadow: 0 0 20px 0px rgba(121, 79, 79, 0.8);
}










/*            lore            */

.region{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.side_text2{
    color: #777;
}

.reg_col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.reg_col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(100, 101, 129, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    opacity: 0;
    transition: 0.5s;
    
    position: absolute;
}

.layer:hover h3{
    bottom: 43%;
    opacity: 1;
}




/*                contact             */

.cont{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    
}

.contact h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 25px;

}





/*           About us           */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    
}

.foottxt{

    color: #777;

}